<div class="container mx-auto p-10 flex flex-col gap-6">
  <h1 class="text-gray-900 dark:text-white text-2xl tracking-tight justify-center text-center">Are you a...</h1>
  <section class="flex flex-row gap-5 justify-center">
    <%= link_to 'Brand Owner', :brand_owner, class: "text-md md:text-xl w-1/4 h-64 hover:bg-primary-500 hover:w-1/2 hover:h-80 lg:hover:w-1/3 lg:hover:h-72 transition-all duration-300 text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white flex items-center justify-center"%>

    <p class="my-auto text-gray-900 dark:text-white text-l">or</p>
    <%= link_to 'Creator', :creator, class: "text-md md:text-xl w-1/4 h-64 hover:bg-primary-500 hover:w-1/2 hover:h-80 lg:hover:w-1/3 lg:hover:h-72 transition-all duration-300 text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white flex items-center justify-center"%>

  </section>
</div>